* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.site-header {
    background-color: aliceblue;
    color: black;
    padding: 1rem 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2em;
}

.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav {
    margin: 0 15px;
}

.main-nav .nav-link {
    color: rgb(107, 186, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color .3s;
}

.main-nav .nav-link:hover {
    color: black;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.article {
    flex: 3;
    background-color: #b8b8b8;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.article-header {
    border-bottom: 2px solid #000000;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.article-title {
    color: aqua;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.article-meta {
    color: aquamarine;
    font-size: 0.9em;
}

.article-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.4em;
    color: #77ff28;
    margin-bottom: 10px;
}

.article-header {
    color: blue;
    font-size: 0.9em;
}

.section-text {
    margin-bottom: 15px;
    color: #444;
    line-height: 1.5;
}

.image-figure {
    margin-top: 20px 0;
}

.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-caption {
    text-align: center;
    font-size: 0.10em;
    color: #e100ff;
    margin-top: 5px;
}

.sidebar {
    flex: 1;
    background-color: #5900ff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.sidebar-title {
    font-size: 1.6em;
    color: #9dff00;
    margin-bottom: 10px;
}

.sidebar-text {
    color: #000000;
    line-height: 1.5;
}

.site-footer {
    background-color: #77ff28;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}